<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
           Choose Email
        {% endblock %}
    </title>

    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>
<!-- Header Section -->
<div class="header">
    <h1>To Do List</h1>
    <h3>A small project by Giorgos Chiras</h3>
</div>



{% load static %}
<a class="go-back-link" href="{% url 'settings' %}">↩</a>

<link rel="stylesheet" href="{% static 'form_styling.css' %}">
<form class="form-with-validation" action="{% url 'choose_email' %}" method="post">
<p class="text">Enter the email address associated with your account</p>
    {% csrf_token %}
        {{ form.email }}
    <br>
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <p class="error">{{ message }}</p>
        {% elif message.tags == 'success' %}
            <p class="success">{{ message }}</p>

        {% endif %}
    {% endfor %}

    <button type="submit">Submit</button>
</form>