{% extends 'layout.html' %}

{% block title %}
    Change Password
{%  endblock %}


{% block content %}
     {% load static %}
    <link rel="stylesheet" href="{% static 'edit_password.css' %}">
    <form class="form-with-validation" action="{% url 'edit_password' %}" method="post">
       {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.old_password }}
    </div>
    <div>
        {{ form.new_password }}
    </div>
    <div>
        {{ form.confirm_password }}
    </div>
        
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <p class="error">{{ message }}</p>
            {% elif message.tags == 'success' %}
            <p class="success">{{ message }}</p>
            
            {% endif %}
        {% endfor %}
 
    <button type="submit">Save Changes</button>
</form>
{%  endblock %}
