{% extends 'layout.html' %}

{% block title %}
    Edit Task
{% endblock %}

{% block content %}
        {% load static %}

    <link rel="stylesheet" href="{% static 'add_task.css' %}">
    <div class="center-wrapper">
<form action="{% url 'edit_task' part_id=part_id %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
            <label for="id_name" class="form-label">Name:</label>
            <div class="form-field">{{ form.text }}</div>
      </div>

      <div class="form-group">
            <label for="id_date" class="form-label">{{ form.due_date.label }}</label>
            <div class="form-field">{{ form.due_date }}</div>
      </div>

      <div class="form-group">
            <label for="id_image" class="form-label">{{ form.picture.label }}</label>
            <div class="form-field">{{ form.picture }}</div>
      </div>

      <button type="submit" class="submit-button">Save</button>
    
      <a href="../todolist/" class="cancel_button">Cancel</a>
</form>
    </div>
{% endblock %}