{% extends 'layout.html' %}
{% block title %}
    Incomplete Tasks
{% endblock %}

{% block content %}
        {% load static %}

    <link rel="stylesheet" href="{% static 'index.css' %}">

<h1 class="underlined-title">Incomplete Tasks</h1>
<table>
   <thead>
        <tr>
            {% if object_list %}
            <th colspan="4" class="table-titles">Tasks</th>
                {% else %}
                <th colspan="4" class="table-titles" style="color: red">No incomplete tasks</th>

            {% endif %}
        </tr>
    </thead>
    {% for item in object_list %}
        <tr>
            <td>
                <form method="POST" action="{% url 'status' part_id=item.id %}">
                    {% csrf_token %}
                    <input
                        type="checkbox"
                        name="completed"
                        onchange="this.form.submit()"
                        {% if item.completed %} checked {% endif %}>
                </form>
            </td>
            <td>{{ item.text }}&emsp;</td>
            <td class="due-date">{{ item.due_date }}</td>
            {% if item.picture %}
                <td><img src="{{ item.picture.url }}" class="task-image" alt="{{ item.text }}"></td>
            {% else %}
                <td class="empty-cell"></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock %}
