{% extends 'layout.html' %}
{% block title %}
    Tasks
{% endblock %}

{% block content %}
        {% load static %}

    <link rel="stylesheet" href="{% static 'index.css' %}">
    <h1 class="underlined-title">All Tasks</h1>

    {% if not object_list %}
        <h4 class="no-items">You haven't added any tasks yet. Try adding some!</h4>
    {% endif %}
    
    
    <table>
        {% if not object_list %}
        {% else %}
            {% for item in object_list %}
                <tr>
                    <td>
                        <form method="POST" action="{% url 'status' part_id=item.id %}">
                            {% csrf_token %}
                            <input
                                type="checkbox"
                                name="completed"
                                onchange="this.form.submit()"
                                {% if item.completed %} checked {% endif %}>
                        </form>
                    </td>
                    <td>{{ item.text }}</td>
                    <td class="due-date">{{ item.due_date }}</td>
                    {% if item.picture %}
                        <td><img class=task-image src="{{ item.picture.url }}"  alt="{{ item.text }}"></td>
                    {% else %}
                        <td class="empty-cell"></td>
                    {% endif %}

                    <td>
                      
                        <a  href="{% url 'delete' part_id=item.id %}"
                           onclick="return confirm('Are you sure you want to delete this item?')"
                           class="delete-link">🗑️</a>
                        
                          <a  href="{% url 'edit_task' part_id=item.id %}"
                           class="delete-link">✏️</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
{% endblock %}
