<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Logout{% endblock %}
    </title>
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="../../media/favicon.ico"/>

    <link rel="stylesheet" href="{% static 'logout.css' %}">
</head>

<body>

    <!-- Header Section -->
    <div class="header">
        <h1 class="main-title">
            To Do List
            <h3 class="sub-title">A small project by Giorgos Chiras</h3>
        </h1>
    </div>

    <!-- Main Content Section -->
    <div class="text-center">
        <h1>YOU HAVE LOGGED OUT</h1>
        <h2>Thanks for using my app!</h2>
        <button onclick="window.location.href='/login'">
            <h4>Log back in</h4>
        </button>
        <h3>See you soon!</h3>
    </div>

</body>

</html>
