
.header h3 {
    color: #670e67;
    text-align: center;
}

.subtitle{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.text{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Cambria Math', serif;
}

form {
    text-align: center;
    margin-top: 20px;

}

form input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    border: 1px solid #ccc;
    font-size: 1.5rem;
}

form button {
    background-color: #670e67;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

form button:hover {
    background-color: #9b4d9b;
}

.error{
    color: red;
    font-weight: bold;
    text-align: center;
}



.success{
    color: green;
    font-weight: bold;
    text-align: center;
}


.cancel_button {
    background-color: #b10b0b;

}
.submit-button , .cancel_button{
      color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Cambria Math', serif;
    font-size: 15px;
    width: 15%;
    box-shadow: 2px 2px 2px #0b0000;
    transition: background-color 0.3s ease;
    text-decoration: None;
    margin-top: 15px;
}

.submit-button {
    background-color: #670e67;
    width: 5%;

}
.cancel_button:hover {
    background-color: #670b0b;
}

.submit-button:hover {
    background-color: #9b4d9b;
}