.underlined-title {
    text-decoration: underline;
    text-align: center;
}

.due-date {
    color: #ff5841;
    font-family: 'Cambria Math', serif;
}

.task-image {
    width: 50px

}

.empty-cell {
    width: 50px;
    height: 50px;
}

table {
    border-collapse: collapse;
    margin: 0;
    display: flex;

    justify-content: center;
    align-items: center;



}