html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.header {
    background-color: #0b0000;
    padding: 1px;
    width: 100%;
}

.header h1 {
    color: #670e67;
    text-align: center;
    font-size: 100px;
    font-family: 'Cambria Math', serif;
    margin: 0;
}

.header h3 {
    color: #670e67;
    text-align: center;
    margin: 0;
}

nav {
    display: flex;
    background: #0b0000;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
}

nav .nav-links {
    font-size: 4rem;
}

nav .nav-links a {
    text-decoration: none;
    margin: 0 15px;
    color: #670e67;
}

nav small {
    font-size: 20px;
    margin-top: 20px;
    color: #00020b;
}

nav small a {
    color: red;
    text-decoration: none;
}

body {
    font-family: 'Cambria Math', serif;
}

main {
    padding: 20px;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .header h1 {
        font-size: 60px;
    }

    nav .nav-links {
        font-size: 2.5rem;
    }

    nav .nav-links a {
        margin: 0 10px;
    }
}
