form {
    margin: 2rem;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 5px;
    width: 30%;
}
.subtitle{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}
.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.form-group {
    display: flex;
    margin-top: 1rem;
}

.form-label {
    width: 150px;
    font-weight: bold;
    font-family: 'Cambria Math', serif;
    font-size: 1.2rem;
}

.form-field {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 240px;
}

.submit-button ,.cancel_button{
      color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Cambria Math', serif;
    font-size: 15px;
    width: 15%;
    box-shadow: 2px 2px 2px #0b0000;
    transition: background-color 0.3s ease;
    text-decoration: None;
    margin-top: 15px;
}

.submit-button {
    background-color: #670e67;

}

.image-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #00020b;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 200px;
}

.image-field label {
    color: #f44336;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
}

.image-field input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(1.2);
    width: auto;
    height: auto;
    display: inline-block;
    box-sizing: content-box;
}

.image-field input[type="checkbox"] + label {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}


.cancel_button {
    background-color: #b10b0b;

}

.cancel_button:hover {
    background-color: #670b0b;
}

.submit-button:hover {
    background-color: #9b4d9b;
}
