/*

body{
     background: url("/media/backgrounds/bg-3.jpg") no-repeat center center fixed;
    background-size: cover;
     }
*/

.underlined-title {
    text-align: center;
    background-size:auto 2px;

}

.no-items {
    color: red;
    text-align: center;
}

.complete-text{
    color: red;
    text-decoration: line-through;

}

.complete-due-date {
    color: red;
    text-decoration: line-through;
    font-family: 'Cambria Math', serif;
    margin-left: 150px;


}
.due-date {
    color: #037118;
    font-family: 'Cambria Math', serif;
    margin-left: 150px;

}

.task-image {
    width: 50px;
    margin-left: 35px;

}

body{
    background-color: #ffffff;
}

.empty-cell {
    width: 50px;
    height: 50px;
}

.delete-link {
    background-color: #0b0000;
    color: white;
    border: 1px solid black;
    padding: 5px 10px;
    text-decoration: none;
    margin-left:35px
}
.delete-link:hover {
    background-color: red;
}

.table-titles {
    text-align: center;
    padding: 12px;

    font-weight: bold;
    margin: 0 auto;

}
th, td {
    text-align: center;
    padding: 12px;
}

th.table-titles{
 text-align: center;
    font-weight: bold;
    background-color: #f4f4f4;
    padding: 12px;
    border: 3px solid #00020b;
}

table {

    margin: 0 auto;
    border-collapse: collapse;

}

tbody {
    border: 3px solid black;
    border-collapse: collapse;
    border-radius:10px
}




