/* Header Section */
.header {
    background-color: #0b0000;
    padding: 1px;
}

.header h1 {
    color: #670e67;
    text-align: center;
    font-size: 100px;
    font-family: 'Cambria Math', serif;
    margin-top: 0px;
    margin-bottom: -30px;
}

.header h3 {
    color: #670e67;
    text-align: center;
}

/* Navigation Section */
nav {
    display: flex;
    background: #0b0000;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav .nav-links {
    font-size: 50px;

}

nav .nav-links a {
    text-decoration: none;
}

nav small {
    font-size: 20px;
    margin-top: 30px;
    color: #00020b;
}


nav small a {
    color: red;
}

body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

main {
    padding: 20px;
}

