body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.header {
    background-color: #0b0000;
    padding: 20px;
}

.main-title {
    color: #670e67;
    text-align: center;
    font-size: 100px;
    font-family: 'Cambria Math', serif;
    margin-top: -20px;
    margin-bottom: -30px;
}

.sub-title {
    color: #670e67;
    text-align: center;
}

button {
    background-color: #670e67;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button h4 {
    margin: 0;
}

/* Centered text */
.text-center {
    text-align: center;
    margin-top: 0px;
}

/* Heading text styles */
h1, h2, h3 {
    text-align: center;
}
