<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Confirm Email
        {% endblock %}
    </title>

    <!-- Load Static Files -->
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <!-- Link to External CSS File -->
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>
<!-- Header Section -->
<div class="header">
    <h1>To Do List</h1>
    <h3>A small project by Giorgos Chiras</h3>
</div>
<a class="go-back-link" href="{% url 'settings' %}">↩</a>

<p class="text">A One Time verification code has been send to the new email.</p>
<form class="form-with-validation" action="/change_email_confirmation/" method="post">
    {% csrf_token %}
    <input type="text" placeholder="e.g. 123456" name="token">
    <br>
    {% for message in messages %}
        <p style="color: red">{{ message }}</p>
    {% endfor %}
    <button type="submit">Submit</button>
</form>