<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Login
        {% endblock %}
    </title>

    <!-- Load Static Files -->
    {% load static %}
    <!-- Link to External CSS File -->
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>
<!-- Header Section -->
<div class="header">
    <h1>To Do List</h1>
    <h3>A small project by Giorgos Chiras</h3>
</div>

<!-- Login Form -->
<form class="form-with-validation" action="/confirm_email/" method="post">
    {% csrf_token %}
    <input type="text" placeholder="OTP" name="token">
    <br>
    {% for error in form.token.errors %}
        <p style="color: red">{{ error }}</p>
    {% endfor %}
    <button type="submit">Submit</button>
</form>